<%# views/partials/footer.ejs %>
<%# extraJS variable must be set before including this. %>

<footer class="app-footer">
  <p>&copy; <%= new Date().getFullYear() %> Bistro Modern. All rights reserved.</p>
</footer>

<% if (typeof extraJS !== 'undefined' && extraJS) { %>
  <script src="<%= extraJS %>"></script>
<% } %>